.mainImage{
  width:80%;

}

strong{
  padding:2%;
  color:#fff;
  font-size: 20pt;
}

#hoverContent {
    display:none;

}
#dev:hover #hoverContent {
    display:block;
    position: absolute;
    top:20%;
    bottom:0;
    left:0;
    right:0;
}

.logoImage{
  width:80px;
  padding:10px;
  vertical-align:middle;
}

.logoImageLarge{
  width:200px;
  margin:-10px;
  text-align: center;
}

.cb{
  border: 1px solid #fff; padding:2%;
}
body,.card , .card-body, li.list-group-item{
  background-color: #000;
}

.pd{padding:2% 3%;}

h1,h2, h3 , h4 , p, .card-title , h5{
  color:#fff;

}

.modal-dialog {
    max-width: 83% !important;
  border:unset;}

    .modal-content {
        position: relative;
        display: flex;
        background-color: rgba(0,0,0,0.5);
        border: unset;
        text-align: left;
      }


.btn-lg{
width:100%;
}

.cardImage{
  margin:2% 0;
  width:auto;
  height:80vh;
  border-radius: 15px;
  overflow: hidden;
}

.cardImage:hover{
opacity: 0.23;
transition: .5s ease;
}


nav{
  text-align: right;
  padding:20px 20px 0 0;
  margin:0px;
  color:#fff;
}


footer {
   position: absolute;
   width: 100%;
   text-align: right;
   padding: 0 5% 2% 0;
}


#back{
  margin:1%;
}

p{
  line-height: 1.9em;
}

a{
  text-decoration: none;
}



/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color:#fff;
  font-weight: 900;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}
