body{
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5{
  font-family: 'Sora', sans-serif;
  font-weight: 900;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.smallLogo{
  width:50px;
  height:auto;
}

.largeImage{
  width:100%;
  height:auto;
}

.hscroll{
   height:500px;
   overflow:scroll;
   background-color: #000;
}

#intro{
  padding:20%;
  color:GREEN;
  font-size: 20pt;
  font-family: monospace;
}


.rotate{
 transform: rotate(40deg);
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #000;
    border-radius: 8px;
  width:3rem;
height:3rem;
padding:5%;}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;}

    .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: none;
    /* transition: transform .6s ease-in-out; */
}

.quote{
  position: absolute;
  margin:4em 0 0 0;
  font-size: 2.4em;
  color:#fff;
  text-align: center;

}
.smallQuote{
  position: absolute;
  margin:7em 0 0 0;
  font-size: 2.4em;
  color:#fff;
  text-align: center;
}
