.mainImage{
  width:100%;

}


body{
  background-color: #000;
}

h1,h2, h3 , h4 , p{
  color:#fff;
}



.spacetop{
  margin-top:10%;
}
.cardImage{
  margin:2% 0;
  width:auto;
  height:80vh;
  border-radius: 15px;
}

.cardImage:hover{
opacity: 0.25;
}


nav{
  text-align: right;
  padding:20px 20px 0 0;
  margin:0px;
  color:#fff;
}


footer {
   position: absolute;
   width: 100%;
   text-align: right;
   padding: 0 5% 2% 0;
}


#back{
  margin:1%;
}

p{
  line-height: 1.9em;
}

a{
  text-decoration: none;
}



/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color:#fff;
  font-weight: 900;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}
